@import url('https://fonts.googleapis.com/css?family=Cookie|Crafty+Girls|Gloria+Hallelujah|Pacifico|Rajdhani|Sacramento|Satisfy');

.top-nav{
background:black;
margin: 0 auto;
}

.left, .right {
    float: left;
    height: 100px;
    color: white;
}
.left {
     width: 25%;
     background-color:black;
}
.right {
     width: 75%;
     background-color: black;
     padding-right: 40px;
}

.logo {
  font-size: 40px;
  color: white;
  font-family:Gloria Hallelujah;
  padding: 8px 50px
}

.right ul{
  float:right;
}
.right li{
   float: left;
   display: inline;

}
.right ul li a{
font-size: 16px;
font-family: 'Julius Sans One', sans-serif;
text-transform: uppercase;
font-weight: 100;
color: white;
padding:0 20px;
text-decoration: none;
line-height: 70px;
}

body {
  box-sizing: border-box;
  margin: 0;
  height:100vh;
}

body *{
  box-sizing: inherit;
}

.home-content{
  background: #5c6469;
  height: 100%;
  font-size: 50px;
  color:white;
  padding: 50px;
  font-family:Sacramento;
  background: radial-gradient(at 50% 0%, #2f2f1e, black);
}
